h1 {
    font-family: 'Merriweather Sans', sans-serif;
    color: gray;
}

h5 {
    font-family: 'Merriweather Sans', sans-serif;
    color: gray;
    font-size: 18px;


}

span {
    color: orangered;
}

section {
    display: flex;
}

.skip {
    width: 50%;
    padding-left: 5%;
    font-size: 40px;
}

.male img {
    width: 80%;
}

#anochor {
    position: absolute;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 16px 36px;
    border-radius: 70px;
    color: aliceblue;
}

.section-1 {
    background: white;
}